@import "tailwindcss";

@theme {
  --color-obsidian-night: #0b0e14;
  --color-void-grey: #161b22;
  --color-neon-pulse: #00f5ff;
  --color-git-green: #2ea043;
  --color-syntax-grey: #8b949e;

  --font-sans: var(--font-inter), sans-serif;
  --font-mono: var(--font-jetbrains-mono), monospace;
}

@layer base {
  body {
    @apply bg-obsidian-night text-syntax-grey font-sans;
    /* Force strict dark mode */
    color-scheme: dark;
  }

  * {
    cursor: none !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-white font-bold tracking-tight;
  }
}

@layer components {
  /* Common utility for Power User terminal-like surfaces */
  .surface-panel {
    @apply bg-void-grey border border-gray-800 rounded-md shadow-lg;
  }
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(1000px);
    opacity: 0;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
